// Font var
$fontFamReg: 'SegoeUIRegular', sans-serif;
$fontFamBold: 'SegoeUIBold', sans-serif;
$fontBold: 700;
$fontRegular: 400;
$lineHeight: 1;
$fontSize: 16px;
$fontSizeXs: 12px;
$fontSizeSm: 14px;
$fontSizeMd: 17px;
$fontSizeLg: 18px;


// Color var
$grey: #BDBDBD;
$blue: #4A90E2;
$blueDark: #417DC4;
$blueLight: #619EE6;
$greyBg: #F2F2F2;
$black: #112A48;
$red: #FF3939;
$white: #fff;